<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% I18n.available_locales.each do |locale| %>
      <%= link_to_if I18n.locale != locale, t(locale, scope: :locales), url_for(controller: controller.controller_name, action: controller.action_name, locale: locale) %>
    <% end %>

    <%= yield %>
  </body>
</html>
